<%
  if (/index.html$/.test(url)) url = url.replace(/index.html$/, '');
  if (url.slice(-1) != '/') url += '/';
%>
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
  <link rel="canonical" href="<%- url %>">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <%- open_graph({twitter_id: theme.twitter}) %>
  <link rel="stylesheet" href="/css/zero.css" />
</head>