:root {
    --x-width: 52rem;
}

html {
    color: #111;
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

@media (min-width: 1000px) {
    html {
        font-size: 1.5vw;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 24px;
    }
}

body {
    margin: 1rem 4rem 4rem 4rem;
    word-wrap: break-word;
}

header, main, footer {
    margin: 0 auto;
    max-width: calc(var(--x-width));
}

header a {
    color: inherit;
    display: inline-block;
}

header ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}

header li {
    display: inline-block;
    margin-left: 1rem;
}


/*-- list */

ul.articles, ul.groups {
    list-style-type: none;
}

time {
    color: #559;
    display: block;
    font-size: 0.5rem;
}

/*-- article */

article section.content p {
    text-indent: 1rem;
    padding-left: 1rem;
}


h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}


blockquote {
    margin: 0 0 0 1.5rem;
    padding: 0 0.5rem;
    background: #ddd;
}

table {
    width: auto;
    border: 1px solid #555;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    color: #ddd;
    padding: 5px;
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    background: #777;
    font-weight: bold;
    text-align: center;
}

td {
    padding: 1rem;
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
}

tr:nth-child(2n+1) {
    background: #ddd;
}

.related li {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    min-width: 1.5rem;
    text-align: center;
}

.related li.category {
    background: #88d;
}

.related li.tag {
    background: #d83;
    border-radius: 2rem;
}

.related a {
    color: #111;
    text-decoration: none;
}

p img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}

span.caption {
    display: block;
    margin: 1rem auto;
    font-size: 12px;
    text-align: center;
}