<% if (page.posts.length > 0) { %>
<section class="recent">
<h1><%=config.title%></h1>
<h2><%=__('recent')%></h2>
<%-partial('common/articles', {articles: page.posts.sort('date', -1).limit(10)})%>
</section>
<% } %>


